<div>
    <form action="/signup" method="POST">
        <label for="username">username: </label>
        <input type="text" name="username" id="username">
        <label for="password">password: </label>
        <input type="text" name="password" id="password">
        <label for="gear">gear: </label>
        <input type="text" name="gear" id="gear">
        <input type="submit">
    </form>
</div>