<div class="container">
    <%@locations.each do |location|%> 
        <div class="container">
            <h1><%=location.address%></h1>
            <a href="/locations/<%=location.id%>/edit"><button>edit</button></a>
        </div>
    <%end%>
</div>