<div class="container">
    <h1> Add a New Location</h1>
    <form action="/locations/new" method="POST">
        <label for="Location">Location:</label>
        <input type="text" name="address" id="address" required>
        <input type="submit">
    </form>
</div>